@font-face {
  font-family: 'IBM Plex Mono';
  src: url(./metadata/fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: 'SF';
  src: url(./metadata/fonts/san-francisco-pro/SF-Pro.ttf);
}

:root {
  --polarNight1: #2e3440;
  --polarNight2: #3b4252;
  --polarNight3: #434c5e;
  --polarNight4: #4c566a;
  --snowStorm1: #d8dee9;
  --snowStorm2: #e5e9f0;
  --snowStorm3: #eceff4;
  --frost1: #8fbcbb;
  --frost2: #88c0d0;
  --frost3: #81a1c1;
  --frost4: #5e81ac;
  --auroraRed: #bf616a;
  --auroraPeach: #d08770;
  --auroraYellow: #ebcb8b;
  --auroraGreen: #a3be8c;
  --auroraViolet: #b48ead;
}

html {
  scroll-behavior: smooth;
}
/**
* Disable smooth scrolling when users have prefers-reduced-motion enabled
*/
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: 'SF';
  color: var(--snowStorm1);
  background-color: var(--polarNight1);
  font-size: 1rem;
  font-weight: 300;
  margin: 0 auto; /* center content horizontally */
  width: 320px;
  height: 100%;
}

h1 {
  color: var(--auroraViolet);
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: -8px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  color: var(--frost2);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: var(--auroraPeach);
}
a:visited {
  color: var(--auroraViolet);
}
a:hover {
  color: var(--frost2);
}

.divider {
  display: block;
  background-color: var(--auroraPeach);
  opacity: 69%;
  width: 220px;
  height: 2px;
  margin-top: -20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

#index-wrapper {
  font-family: 'SF';
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hyperlink-text {
  font-size: 1rem;
}